<!--cut0.html : 0 컷-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컴공이지만 연애는 하고싶어 연애시뮬레이션</title>

    <style>
        body {
            background-image: url("../images/title/title.png");
        }
    </style>

    <!--CSS 불러오기 코드-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
</head>

</head>

<body>
    <!-- jquery 불러오기 코드 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--JS 불러오기 코드-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
        <!--상호작용 박스-->
    <div class="interaction-box">
        <div class="line">강지수 : 안녕~ 너의 이름이 뭐니?
            <div class="input-area">
                <input type="text" id="playerName" placeholder="여기에 이름 입력">
            </div>
        </div>
        <div class="choice-box">
            <div class="choice-btn-area"></div>
            <div class="continue-btn-area">
                <button class="continue-btn" onclick="save_playerName()">결정</button>


                <small class="regret-notice">후회불가능</small>
            </div>
        </div>
    </div>
    </div>
</body>

</html>