<!--cut0.html : 0 컷-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컴공이지만 연애는 하고싶어 연애시뮬레이션</title>

    <style>
        body {
            background-image: url("../static/images/img_ed/최종합본/cut1.png");
            
        }
    </style>

    <!--CSS 불러오기 코드-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
</head>

</head>

<body>
    <!--상호작용 박스-->
    <div class="interaction-box">
        <div class="line">강지수 :앞으로 잘 부탁해</div>
     

        
    
           <div class="choice-box">
            <div class="choice-btn-area">
                <button class="choice-btn" onclick="load_game_new(2)">네.잘부탁드려요</button>
                <button class="choice-btn" onclick="load_game_new(3)">풀 묻었어요...뷰티풀 하하 </button>
                <button class="choice-btn" onclick="load_game_new(2)">대충 고개만 끄덕이기</button>
            
</div>
</div>
</div>
    <!--JS 불러오기 코드-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>