<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컴공이지만 연애는 하고싶어 연애시뮬레이션</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            background-image: url("../static/images/img_ed/최종합본/m.png");
        }
    </style>

    <script>
        $(document).ready(function () {
            username = load_usernameInSession()
            console.log(username)
    $('#username_line').html(
        `
        <div class="line">강지수: ${username}이도 이 음료를 좋아하는구나? 우리 취향이 비슷한가봐~~</div>
        `
    )
});
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
</head>

<body>
    <div class="smartphone-box">
        <div class="smartphone">
            <button class="game-btn_1" onclick="playSoundAndExecute(() => load_game_new(151))"></button>
            <button class="game-btn_2" onclick="playSoundAndExecute(() => load_game_new(152))"></button>
        </div>
    </div>
    <div class="interaction-box">
        <div class="line" id="username_line"></div>
        <div class="choice-box">
            <div class="choice-btn-area">
                 <button class="continue-btn" onclick="playSoundAndExecute(() => load_game_new(14))">네!그런가봐요^^</button>
            </div>
            <div class="continue-btn-area">
                <!-- <button class="choice-btn" onclick="load_game_new(13_1)">네!그런가봐요^^</button> -->
                <!-- <small class="regret-notice">후회불가능</small> -->
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <audio id="click-sound" src="{{ url_for('static', filename='images/img_ed/최종합본/마우스효과음.mp3') }}" preload="auto"></audio>
</body>

</html>