<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컴공이지만 연애는 하고싶어 연애시뮬레이션</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            background-image: url("../static/images/img_ed/최종합본/l.png");
        }
    </style>

    <script>
        $(document).ready(function () {
            username = load_usernameInSession()
            console.log(username)
    $('#username_line').html(
        `
        <div class="line">강지수: ${username}군은 뭐 마실거야?</div>
        `
    )
});
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
</head>

<body>
    <div class="smartphone-box">
        <div class="smartphone">
            <button class="game-btn_1" onclick="playSoundAndExecute(() => load_game_new(151))"></button>
            <button class="game-btn_2" onclick="playSoundAndExecute(() => load_game_new(152))"></button>
        </div>
    </div>
    <div class="interaction-box">
        <div class="line" id="username_line"></div>
        <div class="choice-box">
            <div class="choice-btn-area">
                <button class="choice-btn" data-next-cut="111" data-current-cut="11" data-choice-text="넌 뭐 마실 거야? : 선배는 뭐 드실 거에요?">선배는 뭐 드실 거에요?</button>
                
            </div>
            <div class="continue-btn-area">
                <!-- <button class="choice-btn" onclick="load_game_new(12)">같이 아이스 아메리카노 시키기</button>
                <button class="choice-btn" onclick="load_game_new(13)">저는 자몽허니블랙티에 휘핑크림 추가해주세요</button> -->

                <!-- <small class="regret-notice">후회불가능</small> -->
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <audio id="click-sound" src="{{ url_for('static', filename='images/img_ed/최종합본/마우스효과음.mp3') }}" preload="auto"></audio>
</body>

</html>