<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컴공이지만 연애는 하고싶어 연애시뮬레이션</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
         body {
            background-image: url("../static/images/img_ed/최종합본/h.png");
        }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
</head>

<body>
    <div class="interaction-box">
        <div class="line">강지수:고마워~~!그럼 커피는 선배가 쏠게~</div>
        <div class="choice-box">
            <div class="choice-btn-area">
                <button class="choice-btn" onclick="load_game_new(11)">카페로 이동하기</button>
            </div>
            <div class="continue-btn-area">
                <!-- <button class="choice-btn" onclick="load_game_new(11)">카페로 이동하기</button> -->
                <!-- <small class="regret-notice">후회불가능</small> -->
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>