<!--cut0.html : 2 컷-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컴공이지만 연애는 하고싶어 연애시뮬레이션</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            background-image: url("../static/images/img_ed/최종합본/e.png");
        }
    </style>

    <!--CSS 불러오기 코드-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">

</head>

</head>

<body>
    <div class="smartphone-box">
        <div class="smartphone">
            <button class="game-btn_1" onclick="playSoundAndExecute(() => load_game_new(151))"></button>
            <button class="game-btn_2" onclick="playSoundAndExecute(() => load_game_new(152))"></button>
        </div>
    </div>
    <!--상호작용 박스-->
    <div class="interaction-box">
        <div class="line">강지수:...,근데 나좀 도와 줄 수 있어...?!</div>
        <div class="choice-box">
            <div class="choice-btn-area">
                <button class="choice-btn" data-current-cut="6" data-next-cut="7" data-choice-text="근데 나좀 도와 줄 수 있어...?! : 예">예</button>
                <button class="choice-btn" data-current-cut="6" data-next-cut="8" data-choice-text="근데 나좀 도와 줄 수 있어...?! : 아니요">아니요</button>

            </div>
            </div> 
        </div>
    </div>

    <!--JS 불러오기 코드-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <audio id="click-sound" src="{{ url_for('static', filename='images/img_ed/최종합본/마우스효과음.mp3') }}" preload="auto"></audio>
</body>

</html>