<!--cut0.html : 0 컷-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컴공이지만 연애는 하고싶어 연애시뮬레이션</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
         body {
            background-image: url("../static/images/img_ed/최종합본/i.png");
        }
    </style>

    <!--CSS 불러오기 코드-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
</head>

</head>

<body>
    <!--상호작용 박스-->
    <div class="interaction-box">
        <div class="line">강지수:커피 사주면 도와줄 수 있어?저 위에 있는 책을 꺼내주면 돼ㅜ</div>
     

        
    
           <div class="choice-box">
            <div class="choice-btn-area">
                <button class="continue-btn" onclick="load_game_new(10)">네 제가 꺼내 드릴게요</button>
                <!-- <button class="choice-btn" onclick="load_game_new(12)">저는 자몽허니블랙티에 휘핑크림 추가해주세요...</button> -->
                
            
</div>
</div>
</div>
    <!--JS 불러오기 코드-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>