<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컴공이지만 연애는 하고싶어 연애시뮬레이션</title>

    <!--CSS 불러오기 코드-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
</head>
</head>

<body>
    <!---jquery 불러오기 코드-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!---웹 껍데기-->
    <div class="main-container">
        <div class="title-text">
        </div>

        <!--로그인기능 필요시 구현-->
        <div class="login">
        </div>

        <!--게임 불러오기-->
        <iframe id="game-container" src="{{ url_for('game_login') }}" width="1600" height="900" frameborder="0"></iframe>

    </div>

    <!--JS 불러오기 코드-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>